#nav_menu {
  background-color: rgba(30, 30, 30, 0.872);
  box-shadow: 10px 10px 19px #43464d, -10px -10px 19px #434649;
  backdrop-filter: blur(15px);
}
#nav_menu .nav_logo {
  text-transform: uppercase;
  color: #fff;
}
#nav_menu .nav_logo img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
#nav_menu .navbar-nav a {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}
#nav_menu .navbar-nav a:hover {
  background-color: #0062ff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
